// DEVELOPED BY: Lucas Fonsceca dos Santos.
// GPL - General Public License v3.0
////////////////////////////////////////////////////////////////
// EASY ARCHITECTURE - A simple architecture script tool.
// www.github.com/LucasFonsecaDosSantos/Easy-Architecture
////////////////////////////////////////////////////////////////
//                                                            //
//                                                            //
//  _____                                                     //
// | ____|__ _ ___ _   _                                      //
// |  _| / _` / __| | | |                                     //
// | |__| (_| \__ \ |_| |                                     //
// |_____\__,_|___/\__, |                                     //
//     _           |___/   _ _            _                   //
//    / \   _ __ ___| |__ (_) |_ ___  ___| |_ _   _ _ __ ___  //
//   / _ \ | '__/ __| '_ \| | __/ _ \/ __| __| | | | '__/ _ \ //
//  / ___ \| | | (__| | | | | ||  __/ (__| |_| |_| | | |  __/ //
// /_/   \_\_|  \___|_| |_|_|\__\___|\___|\__|\__,_|_|  \___| //
//                                              Version 2.0.0 //
//                                                            //
// SCRIPT WRITTEN BY Lucas Fonseca dos Santos.                //
//                                                            //
////////////////////////////////////////////////////////////////
//                                                            //
// [PROJECT]:                                                 //
// Name:  <project_name>                                      //
// URL:   <project_url>                                       //
//                                                            //
// +--------------------------------------------------------+ //
//                                                            //
// [DEVELOPMENT]:                                             //
// Code Developer:  <project_name>                            //
// Designer:        <project_name>                            //
// Tester:          <project_name>                            //
// Code Developer:  <project_name>                            //
//                                                            //
// +--------------------------------------------------------+ //
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
//                    FILE INFORMATIONS:                      //
// +--------------------------------------------------------+ //
//                                                            //
// NAME: <file_name>                                          //
// BRIEF: <file_brief>                                        //
//                                                            //
////////////////////////////////////////////////////////////////




//-----------------[ BASE MODULE - FONTS ]--------------------//
p
    font:
        family: $__FONT__font-family-2
        size: 1em
        weight: 300
h1
    font:
        family: $__FONT__font-family-1
        size: 5em
        weight: 700

h2
    font:
        family: $__FONT__font-family-1

h3
    font:
        family: $__FONT__font-family-1
        weight: 300
        size:   2em
    text:
        transform: lowercase
    &:first-letter
        text-transform: uppercase

h4
    font:
        family: $__FONT__font-family-1
        weight: 600
        size:   1.2em
    color: #FFF
    text:
        transform: lowercase
    &:first-letter
        text-transform: uppercase
a
    font:
        family: inherit
        size: inherit
    text:
        decoration: underline
    cursor: pointer
label
    font:
        family: $__FONT__font-family-1
        size: .9em
    text-transform: lowercase
    color: $__COLOR__white-1
//------------------------------------------------------------//