doctype html
html
    head
        //----------------------------[METAS]----------------------------//
        include modules/settings/_mixins.pug
        //PARAMS:
        //title,description,author,copyright,themeColor,language
        +headerSettings("Dacosys | Dashboard","","","GPLv3 2019 - General Public License","#8E2DE2","pt-br")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include modules/settings/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="dashboard")
        header
            include modules/components/_header.pug
        main
            .container
                +title_page("Seja bem vindo, lucas.", "dashboard de controle")
                .row
                    .dashboard__subDashboard_2
                        +box("questionários em andamento", true, "/questionarios/registrar", "/questionarios")
                            table.data-table
                                tbody
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                    .dashboard__subDashboard_2
                        +box("questionários encerrados", true, "/questionarios/registrar", "/questionarios")
                            table.data-table
                                tbody
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Nome do Questionário
                                        td
                                            i.material-icons more_vert
                .row
                    .dashboard__subDashboard_2
                        +box("pesquisadores subordinados", true, "/questionarios/registrar", "/questionarios")
                            table.data-table
                                tbody
                                    tr
                                        td 
                                            p Fulano Ciclano
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Fulano Ciclano
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Fulano Ciclano
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Fulano Ciclano
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Fulano Ciclano
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Fulano Ciclano
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Fulano Ciclano
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Fulano Ciclano
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Fulano Ciclano
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Fulano Ciclano
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p Fulano Ciclano
                                        td
                                            i.material-icons more_vert
                    .dashboard__subDashboard_2
                        +box("ultimos tokens gerados", true, "/questionarios/registrar", "/questionarios")
                            table.data-table
                                tbody
                                    tr
                                        td 
                                            p 93842ud2891
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p 93842ud2891
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p 93842ud2891
                                        td
                                            i.material-icons more_vert
                                    tr
                                        td 
                                            p 93842ud2891
                                        td
                                            i.material-icons more_vert
                .row
                    .dashboard__subDashboard_1
                        +box("estatísticas de submissões", false)
        footer
            include modules/components/_footer.pug
    include modules/settings/_js-imports.pug