// DEVELOPED BY: Lucas Fonsceca dos Santos.
// GPL - General Public License v3.0
////////////////////////////////////////////////////////////////
// EASY ARCHITECTURE - A simple architecture script tool.
// www.github.com/LucasFonsecaDosSantos/Easy-Architecture
////////////////////////////////////////////////////////////////
//                                                            //
//                                                            //
//  _____                                                     //
// | ____|__ _ ___ _   _                                      //
// |  _| / _` / __| | | |                                     //
// | |__| (_| \__ \ |_| |                                     //
// |_____\__,_|___/\__, |                                     //
//     _           |___/   _ _            _                   //
//    / \   _ __ ___| |__ (_) |_ ___  ___| |_ _   _ _ __ ___  //
//   / _ \ | '__/ __| '_ \| | __/ _ \/ __| __| | | | '__/ _ \ //
//  / ___ \| | | (__| | | | | ||  __/ (__| |_| |_| | | |  __/ //
// /_/   \_\_|  \___|_| |_|_|\__\___|\___|\__|\__,_|_|  \___| //
//                                              Version 2.0.0 //
//                                                            //
// SCRIPT WRITTEN BY Lucas Fonseca dos Santos.                //
//                                                            //
////////////////////////////////////////////////////////////////
//                                                            //
// [PROJECT]:                                                 //
// Name:  <project_name>                                      //
// URL:   <project_url>                                       //
//                                                            //
// +--------------------------------------------------------+ //
//                                                            //
// [DEVELOPMENT]:                                             //
// Code Developer:  <project_name>                            //
// Designer:        <project_name>                            //
// Tester:          <project_name>                            //
// Code Developer:  <project_name>                            //
//                                                            //
// +--------------------------------------------------------+ //
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
//                    FILE INFORMATIONS:                      //
// +--------------------------------------------------------+ //
//                                                            //
// NAME: <file_name>                                          //
// BRIEF: <file_brief>                                        //
//                                                            //
////////////////////////////////////////////////////////////////
doctype html
html.overflow-y-hidden
    head
        //----------------------------[METAS]----------------------------//
        include modules/settings/_mixins.pug
        //PARAMS:
        //title,description,author,copyright,themeColor,language
        +headerSettings("Dacosys | Registrar Suas Informações","","","GPLv3 2019 - General Public License","#8E2DE2","pt-br")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include modules/settings/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="participant-register")
        main
            .container
                .content-wrapper
                    .wrapper-box.box
                        header
                            include modules/components/_header.pug
                        //- .wrapper-box__title
                        //-         h4 nos conte um pouco sobre você...
                        .wrapper-content__body(scroll="false")
                            form(action="#",method="POST").container-fluid
                                //first row
                                .row
                                    +gridSystem(12,12,12,12,12)
                                        .form__inputBlock
                                            label token:
                                            h3(style="color:#00D3A0;text-transform: uppercase !important") F10E2821BBBEA527EA02200352313BC059445190
                                            //input#token_inp(type="text",readonly,name="token_inp",title="Número de token único para cada participante da pesquisa. Este é o seu.", alt="Campo para exibição do token unico do participante.")
                                //Second row
                                .row
                                    +gridSystem(4,4,4,4,4)
                                        .form__inputBlock
                                            label seu número de telefone:
                                            input#telephone_inp(type="text",name="telephone_inp",placeholder="(XX) xxxxx - xxxx",title="Insira seu número de telefone aqui.",alt="Campo de texto para inserção do número de telefone.")
                                    +gridSystem(4,4,4,4,4)
                                        .form__inputBlock
                                            label seu endereço de E-mail:
                                            input#email_inp(type="email",name="email_inp",placeholder="email@email.com.br",title="Insira seu endereço de E-mail.",alt="Campo de texto para inserção do endereço de E-mail.")
                                    +gridSystem(4,4,4,4,4)
                                        .form__inputBlock
                                            label cep (informe cep da cidade de sua naturalidade):
                                            input#cep_inp(type="text",name="cep_inp",placeholder="xxxxx - xxx",title="Insira o número do CEP da cidade de sua naturalidade.",alt="Campo de texto para inserção do número de CEP.")
                                //third row
                                .row
                                    +gridSystem(4,4,4,4,4)
                                        .form__inputBlock
                                            label data de nascimento:
                                            input#birth_inp(type="text",name="birth_inp",placeholder="dd/MM/yyyy",title="Insira sua data de nascimento.",alt="Campo de texto para inserção da data do nascimento.")
                                    +gridSystem(4,4,4,4,4)
                                        .form__inputBlock
                                            label minha cor:
                                            select#color_inp(name="color_sel",title="Selecione sua cor.",alt="Campo para selecionar sua cor.")
                                                option(value="default", selected) -- SELECIONE SUA COR --
                                                option(value="_BRANCO_") Branco
                                                option(value="_PARDO_") Pardo
                                                option(value="_NEGRO_") Negro
                                                option(value="_INDIGENA_") Indigena
                                    +gridSystem(4,4,4,4,4)
                                        .form__inputBlock
                                            label meu sexo:
                                            select#sex_inp(name="sex_sel",title="Selecione uma opção para o sexo.",alt="Campo para selecionar seu sexo.")
                                                option(value="default", selected) -- SELECIONE SEU SEXO --
                                                option(value="_M_") Masculino
                                                option(value="_F_") Feminino
                                                option(value="_O_") Outro
                                .row
                                    +gridSystem(12,12,12,12,12)
                                        .form__inputBlock
                                            label possuo alguma necessidade especial ou problema de saúde? Se sim, por favor, listar os problemas separados pelo caracter ' ; '   :
                                            textarea#disease_ta(name="disease_ta",title="Liste aqui, separado por ';' todas as suas enfermidades ou necessidades especiais.", alt="Campo para descrição de possiveis enfermidades e necessidades especiais.")
                                .row
                                    .col-auto.mr-auto
                                        button(alt="Botão para prosseguir para a próxima etapa.", title="Clique para prosseguir a proxima etapa.")
                                            i.material-icons navigate_before
                                            | refazer
                                    .col-auto
                                        button(alt="Botão para prosseguir para a próxima etapa.", title="Clique para prosseguir a proxima etapa.")
                                            | continuar
                                            i.material-icons navigate_next
                                
                                        

        //footer
            include modules/components/_footer.pug
    include modules/settings/_js-imports.pug