.dashboard__subDashboard_2
    background:         transparent
    display:            flex
    justify-content:    center
    align-items:        center
    @include responsive_system(6,6,6,6,6)
    flex-direction: column
    justify-content: center
    p
        strong
            color: $__COLOR__green-1
        color: #FFF

.dashboard__subDashboard_1
    background:         transparent
    display:            flex
    justify-content:    center
    align-items:        center
    @include responsive_system(12,12,12,12,12)
    flex-direction: column
    justify-content: center