// DEVELOPED BY: Lucas Fonsceca dos Santos.
// GPL - General Public License v3.0
////////////////////////////////////////////////////////////////
// EASY ARCHITECTURE - A simple architecture script tool.
// www.github.com/LucasFonsecaDosSantos/Easy-Architecture
////////////////////////////////////////////////////////////////
//                                                            //
//                                                            //
//  _____                                                     //
// | ____|__ _ ___ _   _                                      //
// |  _| / _` / __| | | |                                     //
// | |__| (_| \__ \ |_| |                                     //
// |_____\__,_|___/\__, |                                     //
//     _           |___/   _ _            _                   //
//    / \   _ __ ___| |__ (_) |_ ___  ___| |_ _   _ _ __ ___  //
//   / _ \ | '__/ __| '_ \| | __/ _ \/ __| __| | | | '__/ _ \ //
//  / ___ \| | | (__| | | | | ||  __/ (__| |_| |_| | | |  __/ //
// /_/   \_\_|  \___|_| |_|_|\__\___|\___|\__|\__,_|_|  \___| //
//                                              Version 2.0.0 //
//                                                            //
// SCRIPT WRITTEN BY Lucas Fonseca dos Santos.                //
//                                                            //
////////////////////////////////////////////////////////////////
//                                                            //
// [PROJECT]:                                                 //
// Name:  <project_name>                                      //
// URL:   <project_url>                                       //
//                                                            //
// +--------------------------------------------------------+ //
//                                                            //
// [DEVELOPMENT]:                                             //
// Code Developer:  <project_name>                            //
// Designer:        <project_name>                            //
// Tester:          <project_name>                            //
// Code Developer:  <project_name>                            //
//                                                            //
// +--------------------------------------------------------+ //
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
//                    FILE INFORMATIONS:                      //
// +--------------------------------------------------------+ //
//                                                            //
// NAME: <file_name>                                          //
// BRIEF: <file_brief>                                        //
//                                                            //
////////////////////////////////////////////////////////////////
doctype html
html
    head
        //----------------------------[METAS]----------------------------//
        include modules/settings/_mixins.pug
        //PARAMS:
        //title,description,author,copyright,themeColor,language
        +headerSettings("Dacosys | Dashboard","","","GPLv3 2019 - General Public License","#2F21AA","pt-br")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include modules/settings/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="dashboard")
        header
            include modules/components/_header-dashboard.pug
        main
            .content-wrapper
                .container
                    .row
                        +gridSystem(12,12,12,12,12)
                            .page-title
                                h3 
                                    | Seja bem vindo, 
                                    strong fulano
                                    | !
                .container.content-wrapper__row
                    .row
                        +gridSystem(6,6,6,6,6)
                            +box("questionários em andamento")
                                .dashboard-data
                                    table
                                        tbody
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons(alt="Botão para visualizar status do questionário.", title="Clique para saber mais sobre este questionário.") remove_red_eye
                                                    i.material-icons(alt="Botão para editar o questionário.", title="Clique para editar informações, adicionar, remover itens ou convidar novos participantes.") edit
                                                    i.material-icons(alt="Botão para encerrar o questionário.", title="Clique para encerrar este questionário.") close
                                                    i.material-icons(alt="Botão para deletar este questionário.", title="Clique para deletar permanentemente o questionário.") delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons remove_red_eye
                                                    i.material-icons edit
                                                    i.material-icons close
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons remove_red_eye
                                                    i.material-icons edit
                                                    i.material-icons close
                                                    i.material-icons delete_forever
                        +gridSystem(6,6,6,6,6)
                            +box("questionários encerrados")
                                .dashboard-data
                                    table
                                        tbody
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                                            tr
                                                td
                                                    p questionário #01
                                                td
                                                    i.material-icons local_printshop
                                                    i.material-icons delete_forever
                .container.content-wrapper__row
                    .row
                        +gridSystem(4,4,4,4,4)
                            +box("pesquisadores cadastrados")
                                .dashboard-data
                                    table
                                        tbody
                                            tr
                                                td
                                                    p pesquisador fulano
                                                td
                                            tr
                                                td
                                                    p pesquisador fulano
                                                td
                                            tr
                                                td
                                                    p pesquisador fulano
                                                td
                                            tr
                                                td
                                                    p pesquisador fulano
                                                td
                                            tr
                                                td
                                                    p pesquisador fulano
                                                td
                        +gridSystem(8,8,8,8,8)
                            +box("relação de submissões")
                                .dashboard-data
                                    
        //footer
            include modules/components/_footer.pug
    include modules/settings/_js-imports.pug