// DEVELOPED BY: Lucas Fonsceca dos Santos.
// GPL - General Public License v3.0
////////////////////////////////////////////////////////////////
// EASY ARCHITECTURE - A simple architecture script tool.
// www.github.com/LucasFonsecaDosSantos/Easy-Architecture
////////////////////////////////////////////////////////////////
//                                                            //
//                                                            //
//  _____                                                     //
// | ____|__ _ ___ _   _                                      //
// |  _| / _` / __| | | |                                     //
// | |__| (_| \__ \ |_| |                                     //
// |_____\__,_|___/\__, |                                     //
//     _           |___/   _ _            _                   //
//    / \   _ __ ___| |__ (_) |_ ___  ___| |_ _   _ _ __ ___  //
//   / _ \ | '__/ __| '_ \| | __/ _ \/ __| __| | | | '__/ _ \ //
//  / ___ \| | | (__| | | | | ||  __/ (__| |_| |_| | | |  __/ //
// /_/   \_\_|  \___|_| |_|_|\__\___|\___|\__|\__,_|_|  \___| //
//                                              Version 2.0.0 //
//                                                            //
// SCRIPT WRITTEN BY Lucas Fonseca dos Santos.                //
//                                                            //
////////////////////////////////////////////////////////////////
//                                                            //
// [PROJECT]:                                                 //
// Name:  <project_name>                                      //
// URL:   <project_url>                                       //
//                                                            //
// +--------------------------------------------------------+ //
//                                                            //
// [DEVELOPMENT]:                                             //
// Code Developer:  <project_name>                            //
// Designer:        <project_name>                            //
// Tester:          <project_name>                            //
// Code Developer:  <project_name>                            //
//                                                            //
// +--------------------------------------------------------+ //
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
//                    FILE INFORMATIONS:                      //
// +--------------------------------------------------------+ //
//                                                            //
// NAME: <file_name>                                          //
// BRIEF: <file_brief>                                        //
//                                                            //
////////////////////////////////////////////////////////////////

nav.navbar.navbar-light.bg-light.navbar-expand-lg.menu
    .container
        a.navbar-brand(href="#")
            img.d-inline-block.align-top(src="img/identity/icon-dark.svg", width="30",height="30", alt="asd")
            |  Dacosys
        .collapse.navbar-collapse#navbarNavDropdown
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="/inicio") ínicio
                li.nav-item
                    a.nav-link(href="/pesquisadores") pesquisadores
                li.nav-item
                    a.nav-link(href="/questionarios") questionários
                li.nav-item
                    a.nav-link(href="/resultados") resultados compilados
                li.nav-item
                    a.nav-link(href="/reportar-problema") reportar problema
        a.nav-link Lucas Fonseca dos Santos
        img.avatar(src="img/structure/default-img.png")
        //button.btn-purple-alternative gerar token para participante