doctype html
html
    head
        //----------------------------[METAS]----------------------------//
        include modules/settings/_mixins.pug
        //PARAMS:
        //title,description,author,copyright,themeColor,language
        +headerSettings("Dacosys | Responder Pergunta","","","GPLv3 2019 - General Public License","#8E2DE2","pt-br")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include modules/settings/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="researcher-register")
        //- header
        //-     include modules/components/_header.pug
        main
            .container
                .row
                    .container.mt-5.pb-5
                        .body__title
                            |   <?php
                            |       echo '<h3 class="m-0 p-0">Responder a pergunta</h3>';
                            |   ?>
                            .body__titleNavigation
                                |   <?php
                                |       $last = end($this->view->navigationRoute);
                                |       foreach ($this->view->navigationRoute as $routeKey => $routeValue) {
                                |           echo '<a href="' . $routeValue . '"><p>' . $routeKey . '</p></a>';
                                |           if ($routeValue != $last) echo '<p>&nbsp > &nbsp </p>';
                                |       }
                                |   ?>
                .row
                    .dashboard__subDashboard_1
                        +box("item", false)
                            |   <?php
                            |       echo '<form action="/pergunta/' . $this->view->nextID . '/responder", method="POST">';
                            |       echo '<input type="hidden" value="' . $this->view->idItems . '" name="id_item_list"/>';
                            |       echo '<h5>' . $this->view->item->enunciation . '</h5>';
                            |       echo '<button type="submit"> próxima pergunta</button>';
                            |       echo '</form>';
                            |   ?>
                            
        footer
            include modules/components/_footer.pug
    include modules/settings/_js-imports.pug