doctype html
html
    head
        //----------------------------[METAS]----------------------------//
        include modules/settings/_mixins.pug
        //PARAMS:
        //title,description,author,copyright,themeColor,language
        +headerSettings("Dacosys | Responder Pergunta","","","GPLv3 2019 - General Public License","#8E2DE2","pt-br")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include modules/settings/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="researcher-register")
        //- header
        //-     include modules/components/_header.pug
        main
            .container
                .row
                    .container.mt-5.pb-5
                        .body__title
                            |   <?php
                            |       echo '<h3 class="m-0 p-0">Responder a pergunta</h3>';
                            |   ?>
                            .body__titleNavigation
                                |   <?php
                                |       $last = end($this->view->navigationRoute);
                                |       foreach ($this->view->navigationRoute as $routeKey => $routeValue) {
                                |           echo '<a href="' . $routeValue . '"><p>' . $routeKey . '</p></a>';
                                |           if ($routeValue != $last) echo '<p>&nbsp > &nbsp </p>';
                                |       }
                                |   ?>
                .row
                    .dashboard__subDashboard_1
                        +box("item", false)
                            |   <?php
                            |       echo '<form action="/pergunta/' . $this->view->nextID . '/responder", method="POST">';
                            |       echo    '<input type="hidden" value="' . $this->view->idItems . '" name="id_item_list"/>';
                            |       echo    '<input type="hidden" value="' . $this->view->answerStore . '" name="answerStore"/>';
                            |       echo    '<h5>' . $this->view->item->enunciation . '</h5>';
                            |       echo    '<div class="row mt-3">';
                            |       echo    '</div>';
                            |       echo    '<div class="row mt-3">';
                            |       if ($this->view->item->answer_type == '_CONTINUOUS_') {
                            |           echo    '<div class="col-l2 col-sm-12 col-md-12 col-lg-12 col-xl-12">';
                            |           echo        '<input type="range" name="answer" title="Arraste o botão de acordo com sua resposta." alt="Campo de intervalo para selecionar sua resposta"/>';
                            |           echo    '</div>';
                            |       } else {
                            |           foreach ($this->view->image_options as $option) {
                            |               echo    '<div class="col-l2 col-sm-12 col-md-4 col-lg-4 col-xl-4">';
                            |               echo        '<img src="../storage/upload/item_picture/' . $option->path . '" class="option"/>';
                            |               echo        '<input name="option1" type="radio" title="Clique para selecionar esta opção." alt="Botão para selecionar a presente opção."/>';
                            |               echo    '</div>';
                            |           }
                            |       }
                            |       echo        '</div>';
                            |       echo    '</div>';
                            |       echo    '<div class="row mt-3">';
                            |       echo        '<div class="col-l2 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end">';
                            |       echo            '<button type="submit"> próxima pergunta</button>';
                            |       echo        '</div>';
                            |       echo    '</div>';
                            |       echo '</form>';
                            |   ?>
                            
        footer
            include modules/components/_footer.pug
    include modules/settings/_js-imports.pug