doctype html
html
    head
        //----------------------------[METAS]----------------------------//
        include modules/settings/_mixins.pug
        //PARAMS:
        //title,description,author,copyright,themeColor,language
        +headerSettings("Dacosys | Responder Questionário","","","GPLv3 2019 - General Public License","#8E2DE2","pt-br")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include modules/settings/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="participant-login")
        //header
            include modules/components/_header.pug
        main
            .container
                .row
                    .login__subLogin.hidden-md-down
                        .row
                            img.login__logo(src="img/identity/icon-green.svg")
                        .row.mt-4
                            h1 dacosys
                    .login__subLogin
                        form(style="width: 100%;", method="POST", action="/participante/registrar")
                            .container-fluid
                                //- .row
                                //-     h2
                                .row.mt-3
                                    label chave de acesso
                                    input(type="text", name="id_person", placeholder="Ex.: 5dd2ac3bb8ee0", title="Responda o questionário utilizando uma chave de acesso.", alt="Campo para inserir sua chave de acesso única.")
                                .row.mt-3
                                    .col-6.d-flex.justify-content-start.pl-0
                                        a
                                            p Solicitar nova chave de acesso
                                    //- .col-6.d-flex.justify-content-end.pr-0
                                    //-     a
                                    //-         p Criar nova conta
                                .row.d-flex.justify-content-end
                                    button.flex-fill(type="submit", title="Clique para participar.", alt="Botão para participar do questionário.") participar do questionário
        //footer
            include modules/components/_footer.pug
    include modules/settings/_js-imports.pug