doctype html
html
    head
        //----------------------------[METAS]----------------------------//
        include modules/settings/_mixins.pug
        //PARAMS:
        //title,description,author,copyright,themeColor,language
        +headerSettings("Dacosys | Pessoa","","","GPLv3 2019 - General Public License","#8E2DE2","pt-br")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include modules/settings/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="dashboard")
        header
            include modules/components/_header.pug
        main
            .container
                .row
                    .container.mt-5.pb-5
                        .body__title
                            |   <?php
                            |       echo '<h3 class="m-0 p-0">' . $this->view->person->name . '</h3>';
                            |   ?>
                            .body__titleNavigation
                                |   <?php
                                |       $last = end($this->view->navigationRoute);
                                |       foreach ($this->view->navigationRoute as $routeKey => $routeValue) {
                                |           echo '<a href="' . $routeValue . '"><p>' . $routeKey . '</p></a>';
                                |           if ($routeValue != $last) echo '<p>&nbsp > &nbsp </p>';
                                |       }
                                |   ?>
                .row
                    .dashboard__subDashboard_1
                        +box("ações", false, "/questionarios/registrar", "/questionarios")
                            .row.d-flex.align-items-center
                                .col-12.col-sm-12.col-md-3.col-lg-2.col-xl-2
                                    a(href="", target="_self")
                                        button.btn-purple-alternative()
                                            | cadastrar
                                            i.material-icons add
                                .col-12.col-sm-12.col-md-3.col-lg-2.col-xl-2
                                    a(href="", target="_self")
                                        button.btn-purple-alternative()
                                            | excluir
                                            i.material-icons delete_forever
                                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-8
                                    form.d-flex.justify-content-between(action="", target="_self")
                                        input.flex-grow-1(type="text", placeholder="Nome ou ID do cadastro")
                                        button.flex-grow-0.ml-3(type="submit")
                                            | buscar cadastro
                                            i.material-icons search
                .row
                    .dashboard__subDashboard_2
                        +box("dados informados", false, "/questionarios/registrar", "/questionarios")
                            |   <?php
                            |       $person = $this->view->person;
                            |       switch ($person->type) {
                            |           case '_ADMINISTRATOR_':
                            |               echo '<div style="display: inline;"><p><strong>Tipo:</strong></p> <div class="label bg-red-1">Administrador</div></div>';
                            |               break;
                            |           case '_RESEARCHER_':
                            |               echo '<div style="display: flex;"><p><strong>Tipo:</strong></p> <div class="label bg-purple-2">Pesquisador</div></div>';
                            |               break;
                            |           case '_PARTICIPANT_':
                            |               echo '<p><strong>Tipo:</strong> <label class="bg-purple-1">Participante</label></p>';
                            |               echo '<p><strong>Chave de Acesso: </strong>$person->idPerson</p>';
                            |               echo '<p><strong>Já submeteu resposta? </strong>$person->participated</p>';
                            |               break;
                            |       }
                            |       echo '<p><strong>Nome:</strong> '               . $person->name .               '</p>';
                            |       echo '<p><strong>Data de Nascimento:</strong> ' . $person->birth_date .         '</p>';
                            |       echo '<p><strong>E-mail:</strong> '             . $person->email .              '</p>';
                            |       echo '<p><strong>Sex:</strong> '                . $person->sex .                '</p>';
                            |       echo '<p><strong>Hometown Cep:</strong> '       . $person->hometown_cep.        '</p>';
                            |       echo '<p><strong>Color:</strong> '              . $person->color .              '</p>';
                            |       echo '<p><strong>Ultimo Acesso:</strong> '      . $person->lattest_access .     '</p>';
                            |       echo '<p><strong>Ultimo IP de Acesso:</strong> '. $person->lattest_ip_access .  '</p>';
                            |   ?>
                    .dashboard__subDashboard_2
                        +box("dados informados", false, "/questionarios/registrar", "/questionarios")
                            |   <?php
                            |       switch ($person->type) {
                            |           case '_ADMINISTRATOR_':
                            |               echo '<p><strong>Tipo:</strong> <label class="bg-red-1">Administrador</label></p>';
                            |               break;
                            |           case '_RESEARCHER_':
                            |               echo '<p><strong>Tipo:</strong> <label class="bg-red-1">pesquisador</label></p>';
                            |               break;
                            |           case '_PARTICIPANT_':
                            |               echo '<p><strong>Tipo:</strong> <label class="bg-red-1">participante</label></p>';
                            |               echo '<p><strong>Chave de Acesso: </strong>$person->idPerson</p>';
                            |               echo '<p><strong>Já submeteu resposta? </strong>$person->participated</p>';
                            |               break;
                            |       }
                            |       echo '<p><strong>Nome:</strong> ' . $person->name . '</p>';
                            |       echo '<p><strong>Data de Nascimento:</strong> ' . $person->birth_date . '</p>';
                            |       echo '<p><strong>E-mail:</strong> ' . $person->email . '</p>';
                            |       echo '<p><strong>Sex:</strong> ' . $person->sex . '</p>';
                            |       echo '<p><strong>Hometown Cep:</strong> ' . $person->hometown_cep . '</p>';
                            |       echo '<p><strong>Color:</strong> ' . $person->color . '</p>';
                            |       echo '<p><strong>Ultimo Acesso:</strong> ' . $person->lattest_access . '</p>';
                            |       echo '<p><strong>Ultimo IP de Acesso:</strong> ' . $person->lattest_ip_access . '</p>';
                            |   ?>
                .row
                    .dashboard__subDashboard_1
                        +box("relatório", false, "/questionarios/registrar", "/questionarios")
                            canvas#myChart()

        footer
            include modules/components/_footer.pug
    include modules/settings/_js-imports.pug
    script()
        |   
        |   var ctx = document.getElementById('myChart');
        |   var myChart = new Chart(ctx, {
        |       type: 'pie',
        |       data: {
        |           labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        |           datasets: [{
        |               label: '# of Votes',
        |               data: [12, 19, 3, 5, 2, 3],
        |               backgroundColor: [
        |                   '#FF1744',
        |                   '#AAFFA9',
        |                   '#786BF9',
        |                   '#4A00E0',
        |                   '#11ffbd',
        |                   '#8E2DE2'
        |               ],
        |               borderColor: [
        |                   'rgba(255, 99, 132, 1)',
        |                   'rgba(54, 162, 235, 1)',
        |                   'rgba(255, 206, 86, 1)',
        |                   'rgba(75, 192, 192, 1)',
        |                   'rgba(153, 102, 255, 1)',
        |                   'rgba(255, 159, 64, 1)'
        |               ],
        |               borderWidth: 1
        |           }]
        |       },
        |       options: {
        |           scales: {
        |               yAxes: [{
        |                   ticks: {
        |                       beginAtZero: true
        |                   }
        |               }]
        |           }
        |       }
        |   });