doctype html
html
    head
        //----------------------------[METAS]----------------------------//
        include modules/settings/_mixins.pug
        //PARAMS:
        //title,description,author,copyright,themeColor,language
        +headerSettings("Dacosys | Questionário","","","GPLv3 2019 - General Public License","#8E2DE2","pt-br")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include modules/settings/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="dashboard")
        header
            include modules/components/_header.pug
        main
            .container
                .row
                    .container.mt-5.pb-5
                        .body__title
                            |   <?php
                            |       echo '<h3 class="m-0 p-0">' . $this->view->quiz->name . '</h3>';
                            |   ?>
                            .body__titleNavigation
                                |   <?php
                                |       $last = end($this->view->navigationRoute);
                                |       foreach ($this->view->navigationRoute as $routeKey => $routeValue) {
                                |           echo '<a href="' . $routeValue . '"><p>' . $routeKey . '</p></a>';
                                |           if ($routeValue != $last) echo '<p>&nbsp > &nbsp </p>';
                                |       }
                                |   ?>
                |   <?php
                |       if ($this->errors) {
                |           foreach ($this->errors as $error) {
                |               echo '<div class="row">';
                |               echo    '<div class="container">';
                |               echo        '<div class="alert error d-flex">';
                |               echo            '<i class="material-icons">check_circle</i>';
                |               echo            '<p class="white-color">' . $error . '</p>';
                |               echo            '<i class="material-icons">close</i>';
                |               echo        '</div>';
                |               echo    '</div>';
                |               echo '</div>';
                |           }
                |       }
                |       if ($this->success) {
                |           foreach ($this->success as $success) {
                |               echo '<div class="row">';
                |               echo    '<div class="container">';
                |               echo        '<div class="alert success d-flex">';
                |               echo            '<i class="material-icons">check_circle</i>';
                |               echo            '<p class="material-icons">' . $success . '</p>';
                |               echo            '<i class="material-icons">close</i>';
                |               echo        '</div>';
                |               echo    '</div>';
                |               echo '</div>';
                |           }
                |       }
                |       if ($this->information) {
                |           foreach ($this->informations as $information) {
                |               echo '<div class="row">';
                |               echo    '<div class="container">';
                |               echo        '<div class="alert information d-flex">';
                |               echo            '<i class="material-icons">check_circle</i>';
                |               echo            '<p class="material-icons">' . $information . '</p>';
                |               echo            '<i class="material-icons">close</i>';
                |               echo        '</div>';
                |               echo    '</div>';
                |               echo '</div>';
                |           }
                |       }
                |   ?>
                .row
                    .dashboard__subDashboard_1
                        +box("ações", false, "/questionarios/registrar", "/questionarios")
                            .row.d-flex.align-items-center
                                .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.d-flex.flex-row
                                    a(href="/questionario//atualizar", target="_self")
                                        button.btn-purple-alternative()
                                            | editar
                                            i.material-icons edit
                                    a.ml-3(href="/questionario//deletar", target="_self")
                                        button.btn-purple-alternative()
                                            | excluir
                                            i.material-icons delete_forever
                .row
                    .dashboard__subDashboard_1
                        +box("lista de perguntas", false, "/questionarios/registrar", "/questionarios")
                            table.data-table(column-amount="3")
                                tbody
                                    |   <?php
                                    |       foreach ($this->view->itemArray as $item) {
                                    |           echo    '<tr title="Clique para acessar visualizar a pergunta ' . $item->enunciation . '." alt="Registro da pergunta ' . $item->enunciation . '." onclick="window.open(\'/item/' . $item->id_item . '/visualizar\')">';
                                    |           echo        '<td>';
                                    |           echo            '<p>' . $item->enunciation . '</p>';
                                    |           echo        '</td>';
                                    |           echo        '<td>';
                                    |           echo            '<a alt="Botão para editar o cadastro do participante ' . $participant->name . '." title="Clique para editar o cadastro do item ' . $item->enunciation . '." href="/item/' . $item->id_item . '/editar"><i class="material-icons"> edit </i></a>';
                                    |           echo            '<a alt="Botão para visualizar o cadastro do participante ' . $participant->name . '." title="Clique para visualizar ' . $item->enunciation . '." href="/item/' . $item->id_person . '/visualizar"><i class="material-icons"> remove_red_eye </i></a>';
                                    |           echo            '<a alt="Botão para remover o cadastro do participante' . $participant->name . '." title="Clique para deletar o cadastro do item ' . $item->enunciation . '." href="/item/' . $item->id_item . '/remover"><i class="material-icons"> delete_forever </i></a>';
                                    |           echo        '</td>';
                                    |           echo    '</tr>';
                                    |       }
                                    |   ?>
                .row
                    .dashboard__subDashboard_1
                        +box("lista de pessoas participantes", false, "/questionarios/registrar", "/questionarios")
                                table.data-table(column-amount="3")
                                    tbody
                                        |   <?php
                                        |       foreach ($this->view->participantArray as $participant) {
                                        |           echo    '<tr title="Clique para acessar visualizar o participante ' . $participant->name . '." alt="Registro do participante ' . $participant->name . '." onclick="window.open(\'/participante/' . $participant->id_person . '/visualizar\')">';
                                        |           echo        '<td>';
                                        |           if (!$participant->participated) {
                                        |               echo        '<p>Aguardando o participante responder.</p>';   
                                        |           } else {
                                        |               echo        '<p>' . $participant->name . '</p>';
                                        |           }
                                        |           echo        '</td>';
                                        |           echo        '<td>';
                                        |           echo            '<p>' . $participant->access_key . '</p>';
                                        |           echo        '</td>';
                                        |           echo        '<td>';
                                        |           echo            '<a alt="Botão para editar o cadastro do participante ' . $participant->name . '." title="Clique para editar o cadastro do participante ' . $participant->name . '." href="/participante/' . $participant->id_person . '/editar"><i class="material-icons"> edit </i></a>';
                                        |           echo            '<a alt="Botão para visualizar o cadastro do participante ' . $participant->name . '." title="Clique para visualizar ' . $participant->name . '." href="/participante/' . $participant->id_person . '/visualizar"><i class="material-icons"> remove_red_eye </i></a>';
                                        |           echo            '<a alt="Botão para remover o cadastro do participante' . $participant->name . '." title="Clique para deletar o cadastro do participante ' . $participant->name . '." href="/participante/' . $participant->id_person . '/remover"><i class="material-icons"> delete_forever </i></a>';
                                        |           echo        '</td>';
                                        |           echo    '</tr>';
                                        |       }
                                        |   ?>
                
                .row
                    .dashboard__subDashboard_1
                        +box("relatório", false, "/questionarios/registrar", "/questionarios")
                            canvas#myChart()
                
                    
                                    
        footer
            include modules/components/_footer.pug
    include modules/settings/_js-imports.pug
    script()
        |   
        |   var ctx = document.getElementById('myChart');
        |   var myChart = new Chart(ctx, {
        |       type: 'pie',
        |       data: {
        |           labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        |           datasets: [{
        |               label: '# of Votes',
        |               data: [12, 19, 3, 5, 2, 3],
        |               backgroundColor: [
        |                   '#FF1744',
        |                   '#AAFFA9',
        |                   '#786BF9',
        |                   '#4A00E0',
        |                   '#11ffbd',
        |                   '#8E2DE2'
        |               ],
        |               borderColor: [
        |                   'rgba(255, 99, 132, 1)',
        |                   'rgba(54, 162, 235, 1)',
        |                   'rgba(255, 206, 86, 1)',
        |                   'rgba(75, 192, 192, 1)',
        |                   'rgba(153, 102, 255, 1)',
        |                   'rgba(255, 159, 64, 1)'
        |               ],
        |               borderWidth: 1
        |           }]
        |       },
        |       options: {
        |           scales: {
        |               yAxes: [{
        |                   ticks: {
        |                       beginAtZero: true
        |                   }
        |               }]
        |           }
        |       }
        |   });