doctype html
html
    head
        //----------------------------[METAS]----------------------------//
        include modules/settings/_mixins.pug
        //PARAMS:
        //title,description,author,copyright,themeColor,language
        +headerSettings("Dacosys | Lista de Questionários","","","GPLv3 2019 - General Public License","#8E2DE2","pt-br")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include modules/settings/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="dashboard")
        header
            include modules/components/_header.pug
        main
            .container
                .row
                    .container.mt-5.pb-5
                        .body__title
                            |   <?php
                            |       echo '<h3 class="m-0 p-0">Questionários</h3>';
                            |   ?>
                            .body__titleNavigation
                                |   <?php
                                |       $last = end($this->view->navigationRoute);
                                |       foreach ($this->view->navigationRoute as $routeKey => $routeValue) {
                                |           echo '<a href="' . $routeValue . '"><p>' . $routeKey . '</p></a>';
                                |           if ($routeValue != $last) echo '<p>&nbsp > &nbsp </p>';
                                |       }
                                |   ?>
                .row
                    .dashboard__subDashboard_1
                        +box("lista de questionários em aberto", false, "/questionarios/registrar", "/questionarios")
                            table.data-table(column-amount="3")
                                tbody
                                    |   <?php
                                    |       foreach ($this->view->quizArray as $quiz) {
                                    |           if ($quiz->status) {
                                    |               echo    '<tr>';
                                    |               echo        '<td title="Clique para acessar o questionário ' . $quiz->name . '." alt="Registro do questionário ' . $quiz->name . '." onclick="window.open(\'/questionario/' . $quiz->id_quiz . '/visualizar\')">';
                                    |               echo            '<div class="label bg-green-1">aberto</div>';
                                    |               echo        '</td>';
                                    |               echo        '<td title="Clique para acessar o questionário ' . $quiz->name . '." alt="Registro do questionário ' . $quiz->name . '." onclick="window.open(\'/questionario/' . $quiz->id_quiz . '/visualizar\')">';
                                    |               echo            '<p>' . $quiz->name . '</p>';
                                    |               echo        '</td>';
                                    |               echo        '<td>';
                                    |               echo            '<a alt="Botão para editar o cadastro do questionário ' . $quiz->name . '." title="Clique para editar o cadastro do quistionário ' . $quiz->name . '." href="/questionario/' . $quiz->id_quiz . '/editar"><i class="material-icons"> edit </i></a>';
                                    |               echo            '<a alt="Botão para visualizar o cadastro do questionário ' . $quiz->name . '." title="Clique para visualizar ' . $quiz->name . '." href="/questionario/' . $quiz->id_quiz . '/visualizar"><i class="material-icons"> remove_red_eye </i></a>';
                                    |               echo            '<a alt="Botão para remover o cadastro do questionário ' . $quiz->name . '." title="Clique para deletar o cadastro do questionário ' . $quiz->name . '." href="/questionario/' . $quiz->id_quiz . '/remover"><i class="material-icons"> delete_forever </i></a>';
                                    |               echo        '</td>';
                                    |               echo    '</tr>';
                                    |           }
                                    |       }
                                    |   ?>
                .row
                    .dashboard__subDashboard_1
                        +box("lista de questionários encerrados", false, "/questionarios/registrar", "/questionarios")
                            table.data-table(column-amount="3")
                                tbody
                                    |   <?php
                                    |       foreach ($this->view->quizArray as $quiz) {
                                    |           if (!$quiz->status) {
                                    |               echo    '<tr title="Clique para acessar o questionário ' . $quiz->name . '." alt="Registro do questionário ' . $quiz->name . '." onclick="window.open(\'/questionario/' . $quiz->id_quiz . '/visualizar\')">';
                                    |               echo        '<td>';
                                    |               echo            '<div class="label bg-red-1">fechado</div>';
                                    |               echo        '</td>';
                                    |               echo        '<td>';
                                    |               echo            '<p>' . $quiz->name . '</p>';
                                    |               echo        '</td>';
                                    |               echo        '<td>';
                                    |               echo            '<a alt="Botão para editar o cadastro do questionário ' . $quiz->name . '." title="Clique para editar o cadastro do quistionário ' . $quiz->name . '." href="/questionario/' . $quiz->id_quiz . '/editar"><i class="material-icons"> edit </i></a>';
                                    |               echo            '<a alt="Botão para visualizar o cadastro do questionário ' . $quiz->name . '." title="Clique para visualizar ' . $quiz->name . '." href="/questionario/' . $quiz->id_quiz . '/visualizar"><i class="material-icons"> remove_red_eye </i></a>';
                                    |               echo            '<a alt="Botão para remover o cadastro do questionário ' . $quiz->name . '." title="Clique para deletar o cadastro do questionário ' . $quiz->name . '." href="/questionario/' . $quiz->id_quiz . '/remover"><i class="material-icons"> delete_forever </i></a>';
                                    |               echo        '</td>';
                                    |               echo    '</tr>';
                                    |           }
                                    |       }
                                    |   ?>                                
        footer
            include modules/components/_footer.pug
    include modules/settings/_js-imports.pug