doctype html
html
    head
        //----------------------------[METAS]----------------------------//
        include modules/settings/_mixins.pug
        //PARAMS:
        //title,description,author,copyright,themeColor,language
        +headerSettings("Dacosys | Registrar novo questionário","","","GPLv3 2019 - General Public License","#8E2DE2","pt-br")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include modules/settings/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="quiz-register")
        header
            include modules/components/_header.pug
        main
            .container
                .row
                    .container.mt-5.pb-5
                        .body__title
                            |   <?php
                            |       echo '<h3 class="m-0 p-0">Cadastrar novo questionário</h3>';
                            |   ?>
                            .body__titleNavigation
                                |   <?php
                                |       $last = end($this->view->navigationRoute);
                                |       foreach ($this->view->navigationRoute as $routeKey => $routeValue) {
                                |           echo '<a href="' . $routeValue . '"><p>' . $routeKey . '</p></a>';
                                |           if ($routeValue != $last) echo '<p>&nbsp > &nbsp </p>';
                                |       }
                                |   ?>
                |   <?php
                |       if ($this->errors) {
                |           foreach ($this->errors as $error) {
                |               echo '<div class="row">';
                |               echo    '<div class="container">';
                |               echo        '<div class="alert error d-flex">';
                |               echo            '<i class="material-icons">check_circle</i>';
                |               echo            '<p class="white-color">' . $error . '</p>';
                |               echo            '<i class="material-icons">close</i>';
                |               echo        '</div>';
                |               echo    '</div>';
                |               echo '</div>';
                |           }
                |       }
                |       if ($this->success) {
                |           foreach ($this->success as $success) {
                |               echo '<div class="row">';
                |               echo    '<div class="container">';
                |               echo        '<div class="alert success d-flex">';
                |               echo            '<i class="material-icons">check_circle</i>';
                |               echo            '<p class="material-icons">' . $success . '</p>';
                |               echo            '<i class="material-icons">close</i>';
                |               echo        '</div>';
                |               echo    '</div>';
                |               echo '</div>';
                |           }
                |       }
                |       if ($this->information) {
                |           foreach ($this->informations as $information) {
                |               echo '<div class="row">';
                |               echo    '<div class="container">';
                |               echo        '<div class="alert information d-flex">';
                |               echo            '<i class="material-icons">check_circle</i>';
                |               echo            '<p class="material-icons">' . $information . '</p>';
                |               echo            '<i class="material-icons">close</i>';
                |               echo        '</div>';
                |               echo    '</div>';
                |               echo '</div>';
                |           }
                |       }
                |   ?>
                form#mainForm(method="POST", action="/questionario/salvar", autocomplete="off", enctype="multipart/form-data")
                    .row
                        .dashboard__subDashboard_1
                            +box("informe os dados", false, "/questionarios/registrar", "/questionarios")
                                .row.mt-3.d-none#id_person_row
                                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                                        label ID do cadastro
                                        input#id_person(type="text",maxlength=13,minlength=13 name="id_person", placeholder="Ex.: 5dd2aaab4f856", title="Identificador único do seu cadastro.", alt="Campo para inserir o identificador único do seu cadastro.")
                                        p.white-color.small-font.mt-1(name="id_person-helper") Máximo 13 letras/números.
                                .row.mt-3
                                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                                        label título do questionário *
                                        input(type="text", name="name", placeholder="Ex.: Avaliação de usabilidade com usuários", title="Insira o título do questionário.", alt="Campo para inserir o título do questionário.")
                                        //p.white-color.small-font.mt-1(name="name-helper") Máximo 40 letras.
                                .row.mt-3
                                    .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                                        label Data de Abertura *
                                        input(type="date", name="start_date", placeholder="", title="Clique e selecione uma data.", alt="Campo para selecionar data de abertura do questionário.")
                                    .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                                        label Data de encerramento *
                                        input(type="date", name="end_date", placeholder="", title="Clique e selecione uma data.", alt="Campo para selecionar data de encerramento do questionário.")
                                .row.mt-3
                                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                                        label descrição da pesquisa
                                        textarea(type="date", name="description", placeholder="Ex.: Essa pesquisa objetiva o levantamento de requisitos para o desenvolvimento de um sistema responsável ...", title="Descreva os objetivos e metodos de sua pesquisa.", alt="Campo para descrever objetivos e métodos da pesquisa.")
                
                    .row
                        .dashboard__subDashboard_1
                            +box("insira as perguntas", false, "/questionarios/registrar", "/questionarios")
                                .modal#item-modal.d-none
                                    //AddItemModal
                                    .modal__content
                                        .row
                                            .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                                                span.close#close-item-modal &times;
                                                .box__header.mb-3(style="margin-bottom-color: #25282F")
                                                    h4(style="color: #25282F") nova pergunta
                                        .row.mt-3
                                            .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                                                label enunciado da pergunta
                                                input(name="enunciation", maxlength=150,minlength=5,placeholder="Ex.: Dentre os tipos de café apresentados, qual mais lhe agradou?", title="Insira o enunciado da pergunta.", alt="Campo para inserir o enunciado da pergunta.")
                                                p.green-color.small-font.mt-1(name="enunciation-helper") Máximo 150 letras/números.
                                        .row.mt-3
                                            .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                                                label tipo da pergunta
                                                select(name="answer_type",accept="image/jpg, image/jpeg, image/svg", title="Selecione o tipo da pergunta.", alt="Campo para selecionar o tipo da pergunta.")
                                                    option(value="default", selected) -- SELECIONE --
                                                    option(value="_DISCRET_") Discreto
                                                    option(value="_CONTINUOS_") Continua
                                        .row.mt-3.d-none#options_amount
                                            .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                                                label quantidade de opções
                                                input(name="answer_discret_amount",type="number",min="5",max="9", title="Selecione a quantiade de opções", alt="Campo para selecionar a quantidade de opções.",placeholder="- SELECIONE -")
                                                    
                                        .row.mt-3.d-none#discret_options(used='false')
                                        .row.mt-3.d-none#continuos_options(used='false')
                                        
                                            
                                        .row.mt-3
                                            .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.d-flex.justify-content-end
                                                button.d-flex.justify-conter.align-items-center(name="addItemModalAddBtn", type="button", title="Clique para efetuar o cadastro.", alt="Botão para efetuar o cadastro.")
                                                    | adicionar
                                                    span.material-icons add
                                .row.mt-3
                                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.d-flex.justify-content-end
                                        button.d-flex.justify-conter.align-items-center(name="addItemBtn", type="button", title="Clique para efetuar o cadastro.", alt="Botão para efetuar o cadastro.")
                                            | Adicionar nova pergunta
                                            span.material-icons add
                                .row-mt-3
                                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.pt-3#data-row
                                        //input(type="hidden", name="item_answerEnunciation", value="")
                                        //input(type="hidden", name="item_answerType", value="")
                                        //input(type="hidden", name="item_answerImages", value="")
                                        table.data-table(name="itemTable")
                    .row
                        .dashboard__subDashboard_1
                            +box("participantes", false, "/questionarios/registrar", "/questionarios")
                                .row.mt-3
                                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.d-flex.justify-content-end
                                        button.d-flex.justify-conter.align-items-center(name="generateAccessKey", type="button", title="Clique para gerar uma chave de acesso.", alt="Botão para gerar nova chave de acesso.")
                                            | gerar nova chave de acesso
                                            span.material-icons add
                                .row.mt-3
                                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                                        input(type="hidden", value="0", name="token_amount")
                                        table.data-table(name="accessKeyTable")
                    .row.mt-3.mb-5
                        .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.d-flex.justify-content-center
                            button.flex-fill.d-flex.justify-content-center.align-items-center(name="submitBtn", type="submit", title="CLique para finalizar o cadastro deste novo questionário.", alt="Botão para finalizar o cadastro deste novo questionário.")
                                | finalizar cadastro
                                span.material-icons add_box

        footer
            include modules/components/_footer.pug
    include modules/settings/_js-imports.pug