doctype html
html
    head
        //----------------------------[METAS]----------------------------//
        include modules/settings/_mixins.pug
        //PARAMS:
        //title,description,author,copyright,themeColor,language
        +headerSettings("Dacosys | Lista de Pesquisadores","","","GPLv3 2019 - General Public License","#8E2DE2","pt-br")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include modules/settings/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="dashboard")
        header
            include modules/components/_header.pug
        main
            .container
                .row
                    .container.mt-5.pb-5
                        .body__title
                            |   <?php
                            |       echo '<h3 class="m-0 p-0">Pesquisadores</h3>';
                            |   ?>
                            .body__titleNavigation
                                |   <?php
                                |       $last = end($this->view->navigationRoute);
                                |       foreach ($this->view->navigationRoute as $routeKey => $routeValue) {
                                |           echo '<a href="' . $routeValue . '"><p>' . $routeKey . '</p></a>';
                                |           if ($routeValue != $last) echo '<p>&nbsp > &nbsp </p>';
                                |       }
                                |   ?>
                |   <?php
                |       if ($this->errors) {
                |           foreach ($this->errors as $error) {
                |               echo '<div class="row">';
                |               echo    '<div class="container">';
                |               echo        '<div class="alert error d-flex">';
                |               echo            '<i class="material-icons">check_circle</i>';
                |               echo            '<p class="white-color">' . $error . '</p>';
                |               echo            '<i class="material-icons">close</i>';
                |               echo        '</div>';
                |               echo    '</div>';
                |               echo '</div>';
                |           }
                |       }
                |       if ($this->success) {
                |           foreach ($this->success as $success) {
                |               echo '<div class="row">';
                |               echo    '<div class="container">';
                |               echo        '<div class="alert success d-flex">';
                |               echo            '<i class="material-icons">check_circle</i>';
                |               echo            '<p class="material-icons">' . $success . '</p>';
                |               echo            '<i class="material-icons">close</i>';
                |               echo        '</div>';
                |               echo    '</div>';
                |               echo '</div>';
                |           }
                |       }
                |       if ($this->information) {
                |           foreach ($this->informations as $information) {
                |               echo '<div class="row">';
                |               echo    '<div class="container">';
                |               echo        '<div class="alert information d-flex">';
                |               echo            '<i class="material-icons">check_circle</i>';
                |               echo            '<p class="material-icons">' . $information . '</p>';
                |               echo            '<i class="material-icons">close</i>';
                |               echo        '</div>';
                |               echo    '</div>';
                |               echo '</div>';
                |           }
                |       }
                |   ?>
                .row
                    .dashboard__subDashboard_1
                        +box("ações", false, "/questionarios/registrar", "/questionarios")
                            .row.d-flex.align-items-center
                                .col-12.col-sm-12.col-md-3.col-lg-2.col-xl-2
                                    a(href="/pesquisador/registrar", target="_self")
                                        button.btn-purple-alternative()
                                            | cadastrar
                                            i.material-icons add
                                .col-12.col-sm-12.col-md-3.col-lg-2.col-xl-2
                                    a(href="", target="_self")
                                        button.btn-purple-alternative()
                                            | excluir
                                            i.material-icons delete_forever
                                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-8
                                    form.d-flex.justify-content-between(action="/pesquisador/buscar", target="_self")
                                        input.flex-grow-1(type="text", placeholder="Nome ou ID do pesquisador")
                                        button.flex-grow-0.ml-3(type="submit")
                                            | buscar pesquisador
                                            i.material-icons search
                .row
                    .dashboard__subDashboard_1
                        +box("lista de pesquisadores registrados", false, "/questionarios/registrar", "/questionarios")
                            table.data-table
                                tbody
                                    |   <?php
                                    |       foreach ($this->view->researcherArray as $researcher) {
                                    |           echo    '<tr>';
                                    |           echo        '<td title="Clique para acessar o perfil de ' . $researcher->name . '." alt="Registro do pesquisador ' . $researcher->name . '." onclick="window.open(\'/pesquisador/' . $researcher->id_person . '/visualizar\')">';
                                    |           echo            '<p>' . $researcher->name . '</p>';
                                    |           echo        '</td>';
                                    |           echo        '<td>';
                                    |           echo            '<a alt="Botão para editar o cadastro do pesquisador ' . $researcher->name . '." title="Clique para editar o cadastro do pesquisador ' . $researcher->name . '." href="/pesquisador/' . $researcher->id_person . '/editar"><i class="material-icons"> edit </i></a>';
                                    |           echo            '<a alt="Botão para visualizar o cadastro do pesquisador ' . $researcher->name . '." title="Clique para visualizar ' . $researcher->name . '." href="/pesquisador/' . $researcher->id_person . '/visualizar"><i class="material-icons"> remove_red_eye </i></a>';
                                    |           echo            '<a alt="Botão para remover o cadastro do pesquisador ' . $researcher->name . '." title="Clique para deletar o cadastro do pesquisador ' . $researcher->name . '." href="/pesquisador/' . $researcher->id_person . '/remover"><i class="material-icons"> delete_forever </i></a>';
                                    |           echo        '</td>';
                                    |           echo    '</tr>';
                                    |       }
                                    |   ?>
                                    
                                    
                                    
        footer
            include modules/components/_footer.pug
    include modules/settings/_js-imports.pug