.add-image-button
    @extend .d-flex, .justify-content-center, .align-items-center, .flex-column
    @include border_radius(8px)
    width: 100%
    height: 150px
    border: dashed 2px $__COLOR__green-1
    cursor: pointer