nav.navbar.navbar-expand-lg.navbar-light.fixed-top.menu
    .container
        a.navbar-brand(href="#")
            img(src="img/identity/icon-white.svg")
            h4 dacosys
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.my-2.my-lg-0
                li.nav-item.active
                    a.nav-link(href="#") inicio
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle#navbarDropdown(href="#",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") questionário
                    .dropdown-menu(aria-labelledby="navbarDropdown")
                        a.dropdown-item(href="#") criar um novo questionário
                        a.dropdown-item(href="#") lista de questionários
                        a.dropdown-item(href="#") convidar participante
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle#navbarDropdown(href="#",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") pesquisadores
                    .dropdown-menu(aria-labelledby="navbarDropdown")
                        a.dropdown-item(href="#") registrar um novo pesquisador
                        a.dropdown-item(href="#") lista de pesquisadores
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle#navbarDropdown(href="#",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Fulano da Silva
                    .dropdown-menu(aria-labelledby="navbarDropdown")
                        a.dropdown-item(href="#") editar conta
                        a.dropdown-item(href="#") sobre o Dacosys
                        a.dropdown-item(href="#") relatar bug
                        .dropdown-divider
                        a.dropdown-item(href="#") sair da conta
                